# OS
.DS_Store
Thumbs.db

# Editors/IDE
.vscode/
.idea/

# Node.js
node_modules/
frontend/node_modules/
backend/node_modules/

# Build outputs
/dist/
/build/
frontend/dist/
frontend/build/
backend/dist/
backend/build/

# Logs
*.log
logs/


# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env*/
.pytest_cache/
.ipynb_checkpoints/



# Package managers
npm-cache/
yarn-error.log
.pnpm-store/

# Lock files (optional, if you prefer not to commit them)
# yarn.lock
# package-lock.json

# Misc
*.tmp
